.BuildControl {
    background: white;
    border: 1px solid #eee;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin:  0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuilControl .Less {
    background-color: #D39952;
    color: white;
}

.BuilControl .More {
    background-color: #8F5E1E;
    color: white;
}