.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #cccccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
}

.InputElement:focus {
    outline: none;
    background-color: #cccccc;
}

.Invalid {
    border: solid 1px red;
    background-color: #fda49a;
}

.ErrorMessage {
    color: red;
}