.Auth {
    margin: 20px auto; 
    width: 80%;
    text-align: center;
    border: solid #aaa 1px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 0.6rem;
}

.Input {
    display: block;
    margin: 0.5rem auto;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}